############################
# ANDROID / ANDROID STUDIO
############################

# Builds / artefactos
**/build/
build/
bin/
gen/
out/
*.apk
*.ap_
*.aab
*.dex
*.class
*.log

# Gradle
.gradle/
gradle-app.setting
!gradle/wrapper/gradle-wrapper.jar
local.properties

# Android Studio / IntelliJ
.idea/
*.iml
.cxx/
.externalNativeBuild/
captures/
navigation.json

# NDK / CMake
**/.cxx/
**/.externalNativeBuild/

# Keystores (no subas firmas)
*.jks
*.keystore

############################
# TUS REGLAS ORIGINALES
############################

### IntelliJ IDEA ###
!**/src/main/**/out/
!**/src/test/**/out/

### Kotlin ###
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
*.hprof

### Windows ###
Thumbs.db
Desktop.ini
